<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Filme - Star Wars API</title>
    <link rel="stylesheet" href="../css/global.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Detalhes do Filme</h1>
            <p>Veja detalhes completos do filme.</p>
        </header>
        <main>
            <section id="film-detail">
                <div id="film-info"></div>
            </section>
        </main>
        <footer>
            <a href="film.html" class="button">Voltar para Filmes</a>
            <a href="index.html" class="button">Voltar para Início</a>
        </footer>
    </div>
    <script src="../js/film-detail.js"></script>
</body>

</html>