<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars </title>
    <link rel="stylesheet" href="../css/global.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Star Wars </h1>
            <p>Explore o universo de Star Wars!</p>
        </header>
        <main>
            <section id="home">
                <h2>Escolha uma opção</h2>
                <div class="link-container">
                    <a href="character.html" class="button">Personagens</a>
                    <a href="planet.html" class="button">Planetas</a>
                    <a href="film.html" class="button">Filmes</a>
                </div>
            </section>
        </main>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>