<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Planeta - Star Wars API</title>
    <link rel="stylesheet" href="../css/global.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Detalhes do Planeta</h1>
            <p>Veja detalhes completos do planeta.</p>
        </header>
        <main>
            <section id="planet-detail">
                <div id="planet-info"></div>
            </section>
        </main>
        <footer>
            <a href="planet.html" class="button">Voltar para Planetas</a>
            <a href="index.html" class="button">Voltar para Início</a>
        </footer>
    </div>
    <script src="../js/planet-detail.js"></script>
</body>

</html>